@charset "utf-8";
/* CSS Document */
h1,h2,h3,h4,h5,h6,p,ol,ul,li,dl,dd,textarea,form,input,select,body{margin:0;padding:0;font-size:12px;font-family: Tahoma,Arial,sans-serif;}
em{font-style:normal;}
li{list-style:none;}
a{text-decoration:none;outline: medium none;}
img{vertical-align:top;border:none;}
textarea{overflow:auto;resize:none;}
.clear:after{clear:both;content:'';display:block}
.clear{zoom:1;}
html{width:100%;height:100%;}
body{width:100%;height:100%;position:relative;overflow:hidden;background:#202020;}	
.active{background-color:#a0e311;}
/* css reset */
#preloader {	background-image: url(../images/1.jpg),url(../images/2.jpg),url(../images/3.jpg);	width: 0px;	height: 0px;	display: inline;}
#bg {width:100%; height:100%; background:url(../images/1.jpg)  no-repeat  scroll center ; position:absolute; left:0; top:0;background-size:100% 100%;}
#left_menu {width:66px; height:568px; position:absolute; left:-66px;background:url(../images/dock_l.png) no-repeat 0 0 scroll;
border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;
box-shadow:3px 3px 5px #898888;-moz-box-shadow:3px 3px 5px #898888;-webkit-box-shadow:3px 3px 5px #898888;-o-box-shadow:3px 3px 5px #898888;
}
.web_main_menu_cn{padding:10px 0 5px 4px;width:58px;}
.web_main_menu_cn ul{width:58px;}
.web_main_menu_cn li{width:58px;height:58px;margin-top:5px;float:left;}
.web_main_menu_cn li a{width:40px;height:40px;padding:10px;display:block}
.web_main_menu_cn li img {position:relative;}
#left_menu_bottom {position:absolute;bottom:0;width:66px;height:118px;padding:1px;}
#left_menu_bottom #div1 {width:64px;height:29px;font-size:20px;text-align:center;color:#FFF;font-weight:700;line-height:35px;}
#left_menu_bottom #div2 {width:64px;height:29px;font-size:20px;text-align:center;color:#FFF;font-weight:700;line-height:35px;}
#left_menu_bottom #div3{width:64px;height:58px;}
#left_menu_bottom #div3 a{display:inline-block;width:64px;height:58px;text-align:center;padding-top:14px;}
#top_menu {width:239px;height:27px;position:absolute;top:10px;left:50%;margin-left:-120px;background:url(../images/top_menu.png);
border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;
box-shadow:3px 3px 5px #898888;-moz-box-shadow:3px 3px 5px #898888;-webkit-box-shadow:3px 3px 5px #898888;-o-box-shadow:3px 3px 5px #898888;
}
#top_menu #top_menu_1 {width:28px;height:28px;background:url(../images/avatar.png) no-repeat scroll 0 0 ;position:absolute;left:7px;top:-7px;transition:.5s;}
#top_menu #top_menu_1:hover{
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg); 
}
#top_menu #top_menu_2 {width:118;height:27px;position:absolute;left:37px;top:3px;line-height:27px;}
#top_menu #top_menu_2 .nav  li{ float:left;
	perspective:100px;
	-webkit-perspective:100px;
	-moz-perspective:100px;
	-o-perspective:100px;
}
#top_menu #top_menu_2 .nav  a { float:left;position:relative;font:14px/22px 'ו' ; color:white;font-weight:900;margin-left:5px;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	transition:.5s;
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-o-transition:.5s;
	transform-origin:center center -11px;
	-webkit-transform-origin:center center -11px;
	-moz-transform-origin:center center -11px;
	-o-transform-origin:center center -11px;
}
#top_menu #top_menu_2 .nav span {float:left;width:27px;text-align:center;}
#top_menu #top_menu_2 .nav span:nth-of-type(1) {position:absolute;left:0;top:-22px;background:gray url(../images/btn.png) no-repeat scroll center center ;
	transform-origin:bottom;
	-webkit-transform-origin:bottom;
	-moz-transform-origin:bottom;
	-o-transform-origin:bottom;
	transform:rotateX(90deg);
	-webkit-transform:rotateX(90deg);
	-moz-transform:rotateX(90deg);
	-o-transform:rotateX(90deg); 
}
#top_menu #top_menu_2 .nav  a:hover{
	transform:rotateX(-90deg);
	-webkit-transform:rotateX(-90deg);
	-moz-transform:rotateX(-90deg);
	-o-transform:rotateX(-90deg); 
}
#top_menu #top_menu_3 {width:58px;height:22px;position:absolute;left:174px;top:3px;line-height:22px;}
#top_menu #top_menu_3 a {display:block;width:25px;margin-left:4px;float:left;text-indent:-200px;overflow:hidden;
	transition:.5s;
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-o-transition:.5s;
}
#top_menu #top_menu_3 .hr{background:url(../images/hr.png) no-repeat scroll center center;}
#top_menu #top_menu_3 .hl{background:url(../images/hl.png) no-repeat scroll center center ;}
#top_menu #top_menu_3 .hr:hover{background:#a0e311 url(../images/hr.png) no-repeat scroll center center;}
#top_menu #top_menu_3 .hl:hover {background:#a0e311 url(../images/hl.png) no-repeat scroll center center;}
#main_content {position:absolute;top:60px;left:200px;height:480px;width:800px;}
#main_content ul{position:absolute;} 
#main_content ul li {width:86px;height:88px;margin:10px;text-align:center;position:absolute;}
#main_content ul li a {color:#fff;width:64px;height:64px;}
#main_content ul li a p{width:100%;margin-top:5px;background:gray;opacity:0.6;filter:alpha(opacity:60);font-size:14px;
height:30px;line-height:30px;position:relative;padding-top:6px;visibility:hidden;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
}
#main_content ul li a p span{width:12px;height:12px;line-height:12px;}
.zhezhao img{position:absolute;width:100%;height:100%;left:0;top:0;opacity:0.7;filter:alpha(opacity:70);z-index:400;}
#zouyangbox {cursor:pointer;width:36px;height:72px;position:fixed;z-index:501;}  /* _position:absolute; */
#zouyangbox_img {position:absolute;top:0;left:0;z-index:600;}
.close {width:30px;height:31px;position:absolute;top:-162px;right:-312px;background:#fff url(../images/x.png) no-repeat scroll 0 0; z-index:401;}
#box1,#box2,#box3,#box4 {background:url(../images/zouyang_open.png) no-repeat;position:absolute;overflow:hidden;}
#box1 {width:301px;left:-265px;bottom:36px;}
#box1 img {width:256px;height:179px;position:absolute;left:7px;top:8px;}
#box2 {height:187px;left:36px;top:-151px;background-position:-301px 0;}
#box2 h1 {color:white;font-weight:700;font-size:20px;position:absolute;top:20px;left:70px;}
#box2  #list {width:265px;padding:0;color:#fff;position:absolute;top:50px;left:36px;}
#box2  #list li{height:35px;line-height:35px;position:relative;}
#box2  #list li span {width:12px;height:12px;line-height:12px;}
#box3 {width:301px;top:36px;left:37px;background-position:-303px -186px;}
#box3  #list3 {width:265px;padding:0;color:#fff;position:absolute;top:0;left:36px;}
#box3  #list3 li{height:36px;line-height:36px;position:relative;}
#box3  #list3 li span {width:12px;height:12px;line-height:12px;}
#box4 {height:187px;right:0;top:36px;background-position:0 -187px;}
#box4 h1 {color:white;font-weight:700;font-size:20px;position:absolute;bottom:20px;left:80px;}
#box4  #list4 {width:265px;padding:0;color:#fff;position:absolute;top:0;left:7px;}
#box4  #list4 li{height:32px;line-height:32px;position:relative;}
#box4  #list4 li span {width:12px;height:12px;line-height:12px;}
#frameweb {display:block;width:800px;height:0px;opacity:0;filter:alpha(opacity:0);position:absolute;left:50%;top:15%;margin-left:-400px;
cursor:pointer;																						z-index:-100;
box-shadow:1px 1px 3px #999;
-moz-box-shadow:1px 1px 3px #999;
-webkit-box-shadow:1px 1px 3px #999;
-o-box-shadow:1px 1px 3px #999;
}			
#frameweb_top{width:100%;height:28px;line-height:28px;background:#87c1fe none repeat scroll 0 0; 
border-bottom:1px solid rgb(180, 190, 245);position:relative;
border-radius:5px 5px 0 0;
-moz-border-radius:5px 5px 0 0;
-webkit-border-radius:5px 5px 0 0;
-o-border-radius:5px 5px 0 0;
}
#frameweb_top p {font-size:18px;font-weight:bold;color:#333;text-align:center;
text-shadow: 2px 2px 2px #333; 
-moz-text-shadow: 2px 2px 2px #333; 
-webkit-text-shadow: 2px 2px 2px #333; 
-o-text-shadow: 2px 2px 2px #333; 
}
#frameweb_top_btn{position:absolute;top:0;right:0;}
#frameweb_top_btn #max {width:30px;height:30px;background:url(../images/max.png) no-repeat scroll center center ;display:inline-block;}
#frameweb_top_btn #close {width:30px;height:30px;background:url(../images/close2.png) no-repeat scroll center center  ;display:inline-block;}
#frameweb_top_btn #max:hover {background:url(../images/max_hover.png) no-repeat scroll center center ;}
#frameweb_top_btn #close:hover {background:url(../images/close2_hover.png) no-repeat scroll center center  ;}
#frameweb_bottom {width:100%; height:100%; background:#fff none repeat scroll 0 0 }
#frameweb_bottom iframe {width:100%;height:100%;scrolling:yes;border:0;}  
#shizhong{width:152px; height:155px; background:url(../images/timer_bg.png) scroll no-repeat 0 0 ; position:absolute; 
top: 150px; left:80%;color:#000;font-weight:700;text-align:center;z-index:399;}
#timebox{width:80px; height:20px; position:absolute;top:40px;left:35px;font-size:12px;line-height:20px;}
#daybox{width:70px; height:20px;position:absolute;top:62px;left:40px;}
#datebox{width:70px; height:20px; position:absolute;top:84px;left:40px;}
#windowmenu{width:100px;height:215px;border:1px solid gray; position:absolute;display:none;z-index:3000;left:0px;top:opx;overflow:hidden;background:#f1f1f1;}
#windowmenu ul{width:100%;height:100%}
#windowmenu ul li {width:100px;height:30px;line-height:30px; font-size:12px;border-bottom:1px solid gray;padding-left:5px;}
